*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.wrap {
  height: 100vh;
}

.panel {
  position: fixed;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.clock {
  top: 2vh;
  left: 1vw;
  font-size: 2rem;
}

.weather {
  left: 1vw;
  top: 20vh;
  text-align: center;
}

.weather div {
  font-size: 1.5rem;
}

.weather p {
  font-size: 0.75rem;
}

.my-name {
  margin-top: 10px;
  font-size: 1.4rem;
}

/* greeting */
.greeting {
  left: 1vw;
  bottom: 2vh;
  text-align: center;
}

.input {
  width: 100%;
  background-color: transparent;
  border: solid gray;
  border-width: 0 0 1px;
  text-align: inherit;
}

.input:focus {
  outline: none;
}

.todo {
  top: 1vh;
  right: 1vw;
}

.todo .input {
  padding: 5px;
  border-radius: 5px;
  border-bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.todo__list {
  list-style: none;
  padding-left: 0;
  line-height: 1.5;
}

.todo__list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.todo__list button {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.todo__list button:hover {
  background-color: rgba(255, 255, 255, 1);
}
